*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F6F7FB;
}

main{
    width:20%;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1em;
}
.progress-item{
    background-color: white;
    border:3px solid #e0e0e0;
    color:#999;
    border-radius:  50%;
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-container::before{
    content:'';
    background-color: #e0e0e0;
    position:absolute;
    width:100%;
    height:4px;
    top:50%;
    left:0%;
    transform: translateY(-50%);
    z-index:-1;
}

.progress {
    background-color: #3498db;
    position: absolute;
    width: 0;
    height:4px;
    top:50%;
    left:0;
    transform: translateY(-50%);
    z-index: -1;
    transition: all 0.4s ease;
}

.btns{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:30px;
}

.btn {
    background-color: #3498db;
    padding:0.8em;
    color:white;
    border:none;
    width:25%;
    border-radius: 5px;
    cursor: pointer;
}

.btn-next{
    background-color: #3498db;
}

.active {
    border: 3px solid #3498db;
}
.btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }